#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Z &kp U &kp I &kp O &kp P &kp BKSP
	&kp ESC &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SCLN &kp QUOT
	&kp LSFT &kp Y &kp X &kp C &kp V &kp B &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp RET
	&kp RALT &kp LCTL &kp LALT &kp LGUI &mo 1 &kp SPC &kp SPC &mo 2 &kp LARW &kp DARW &kp UARW &kp RARW
			>;

		};
		lower_layer {
		bindings = <
	&kp LS(GRAV) &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0) &kp BKSP
	&kp DEL &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp LS(MINUS) &kp LS(EQL) &kp LS(LBKT) &kp LS(RBKT) &kp LS(BSLH)
	&none &kp F7 &kp F8 &kp F9 &kp F10 &kp 11 &kp F12 &none &none &none &none &none
	&mo 3 &none &none &none &trans &none &none &trans &cp M_NEXT &kp VOLD &kp VOLU &cp M_PLAY
	>;

		};
	
		upper_layer {
		bindings = < 
	&kp GRAV &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BKSP
	&kp DEL &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp MINUS &kp EQL &kp LBKT &kp RBKT &kp BSLH
	&none &kp F7 &kp F8 &kp F9 &kp F10 &kp 11 &kp F12 &none &none &none &none &none
	&mo 4 &none &none &none &trans &none &none &trans &cp M_NEXT &kp VOLD &kp VOLU &cp M_PLAY
	>;
		};
		i3_layer_one {
		bindings = < 
	&none &none &none &none &none &none &none &none &none &none &none &none
	&none &kp LG(N1) &kp LG(N2) &kp LG(N3) &kp LG(N4) &kp LG(N5) &none &none &none &none &none &none
	&none &kp LA(N1) &kp LA(N2) &kp LA(N3) &kp LA(N4) &kp LA(N5) &none &none &none &none &none &none
	&trans &none &none &none &trans &none &none &trans &none &none &none &none
	>;
		};
		i3_layer_two {
		bindings = < 
	&none &none &none &none &none &none &none &none &none &none &none &none
	&none &kp LG(LS(N1)) &kp LG(LS(N2)) &kp LG(LS(N3)) &kp LG(LS(N4)) &kp LG(LS(N5)) &none &none &none &none &none &none
	&none &kp LA(LS(N1)) &kp LA(LS(N2)) &kp LA(LS(N3)) &kp LA(LS(N4)) &kp LA(LS(N5)) &none &none &none &none &none &none
	&trans &none &none &none &trans &none &none &trans &none &none &none &none
	>;
		};
	};
};
